.DS_STORE
.vscode

# node
node_modules
npm-debug.log

# python
*.pyc

# npm test 1
solidity/build/contracts

# npm test 2
solidity/allFiredEvents
solidity/coverageEnv
solidity/coverage
solidity/coverage.json
solidity/scTopics

# downloaded at the end of npm install
solidity/build/BancorConverter.abi
solidity/build/BancorConverter.bin
solidity/build/ContractRegistry.abi
solidity/build/ContractRegistry.bin
solidity/build/EtherToken.abi
solidity/build/EtherToken.bin
solidity/build/IERC20Token.abi
solidity/build/SmartToken.abi
solidity/build/SmartToken.bin
solidity/contracts/ContractIds.sol
solidity/contracts/FeatureIds.sol
solidity/contracts/IBancorNetwork.sol
solidity/contracts/bancorx/interfaces/IBancorX.sol
solidity/contracts/converter/BancorConverter.sol
solidity/contracts/converter/BancorFormula.sol
solidity/contracts/converter/interfaces/IBancorConverter.sol
solidity/contracts/converter/interfaces/IBancorConverterUpgrader.sol
solidity/contracts/converter/interfaces/IBancorFormula.sol
solidity/contracts/helpers/Migrations.sol
solidity/contracts/token/ERC20Token.sol
solidity/contracts/token/EtherToken.sol
solidity/contracts/token/SmartToken.sol
solidity/contracts/token/SmartTokenController.sol
solidity/contracts/token/interfaces/IERC20Token.sol
solidity/contracts/token/interfaces/IEtherToken.sol
solidity/contracts/token/interfaces/INonStandardERC20.sol
solidity/contracts/token/interfaces/ISmartToken.sol
solidity/contracts/token/interfaces/ISmartTokenController.sol
solidity/contracts/utility/ContractRegistry.sol
solidity/contracts/utility/Managed.sol
solidity/contracts/utility/Owned.sol
solidity/contracts/utility/SafeMath.sol
solidity/contracts/utility/TokenHolder.sol
solidity/contracts/utility/Utils.sol
solidity/contracts/utility/interfaces/IAddressList.sol
solidity/contracts/utility/interfaces/IContractFeatures.sol
solidity/contracts/utility/interfaces/IContractRegistry.sol
solidity/contracts/utility/interfaces/IOwned.sol
solidity/contracts/utility/interfaces/ITokenHolder.sol
solidity/contracts/utility/interfaces/IWhitelist.sol
solidity/test/helpers/Utils.js
